@import "./util.scss";

.edit_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 100vh;

    .loading {
      display: flex;
      justify-content: center;
    }
}

.profile_pic {
    display: flex;
    width: 75%;
    border-radius: 100%;
    margin: 0 auto 0 auto;

    &:hover {
      @include opacityTransition(1, 0.85, opaqueToTranslucent);
      @include useAnimation(opaqueToTranslucent, 0.5s);
    }
}

.input {
  border-color: black;
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-width: 2px;

  &:focus {
    box-shadow: none;
    border-color: black;
    @include borderTransition(2px, 4px, borderGrow);
    @include useAnimation(borderGrow, 0.1s);
  }
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 75%;
    height: 25%;
    margin: 0 auto 0 auto;
  
    .button {
      background-color: black;
      color: white;
      text-decoration: none;
      width: 100%;
  
        &:hover {
          @include colorTransition(black, white, white, black, blackToWhite);
          @include useAnimation(blackToWhite, 0.5s);
        }
    }
  }

  .load {
    margin-top: 10%;
    display: flex;
    justify-content: center;
  }