@import "./util.scss";

//MAIN DIV
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #DFDFDF;
  margin-top: 60px;
  
}

    //HEADER
    .header {
      display: flex;
      text-align: center;
      width: 60%;

      .text {
        font-family: 'Georama';
        font-weight: 700;
        font-size:65px;
      }
    }

        //SUBHEADER
        .subheader {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 75%;

          .text {
            font-family: 'Georama';
            font-weight: 400;
            font-size: 30px;
          }

          .button {
            background-color: black;
            color: white;
            padding: 0.5% 5% 0.5% 5%;
            font-family: 'Rochester';
            font-size: x-large;
            text-decoration: none;
            border-radius: 25px;
            
            &:hover {
              @include colorTransition(black, white, white, black, blackToWhite);
              @include useAnimation(blackToWhite, 0.5s);
            }
          }
        }

    //PHOTOS
    .photos {
      display: flex;
      width: 75%;
      justify-content: space-evenly;

      .photo_div {
        display: flex;
        justify-content: center;
        
      }
      .photo {
        width: 100%;
      }
    }

