@import "./typography.scss";
@import "./util.scss";

//Navbar Styling
.navbar {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.096);
    font-family: 'Georama';
}

//Main Div Styling
.main {
    display: flex;
    width: 100%;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
}

//Nav Link Columns Styling
.navcol {
    display: flex;
    justify-content: center;

}

//Nav Links Styling
.link {
    display: flex;
    color: black;
    text-decoration: none;
    font-family: 'Georama';

    &:hover {
        @include weightTransition(400, 600, normalToBold);
        @include useAnimation(normalToBold, 0.2s);
    }
}

.dropdown {
    position: relative;
  }

.dropdownMenu {
    position: absolute;
    top: 100%;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  .dropdownItem {
    color: black;
    padding: 8.5% 15% 8.5% 15%;
    text-decoration: none;
    display: block;

    &:hover {
        @include colorTransition(white, black, black, white, whiteToBlack);
        @include useAnimation(whiteToBlack, 0.5s);
    }
  }

//D||D Logo Styling
.logo {
    display: flex;
    width: 40%;
    margin: 0px auto 0px auto;  
}