.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 20px;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile-info {
  padding: 20px;
}

.profile-info h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-info p {
  margin-bottom: 10px;
}

.btn {
  margin-right: 10px;
}
.username {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}
.row {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.container {
  padding-top: 100px;
}

.user-images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.user-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.image-details {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}
