@import "./typography.scss";
@import "./util.scss";

//PROFILE INFORMATION DIV
.profile {
  display: flex;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  margin-top: 60px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
  justify-content: center;
}

//PROFILE INFORMATION
.info {
  color: black;
  font-family: 'Georama';
}

//ACTION BUTTONS
.actions {
  margin: 0px 5% 0px 0;
  padding: 1% 5% 1% 5%;
  background-color: black;
  color: white;
  text-decoration: none;

  a {
    text-decoration: none;
    color: white;

      &:hover {
        @include colorTransitionLite(white, black, whiteToBlack);
        @include useAnimation(whiteToBlack, 0.5s);
      }
  }

  &:hover {
    @include colorTransition(black, white, white, black, blackToWhite);
    @include useAnimation(blackToWhite, 0.5s);
  }
}

//USER UPLOADS SECTION
.uploads {
  margin-top: 55%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

//UPLOAD CONTAINER
.upload_container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

//UPLOAD IMAGE
.upload {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

//UPLOAD DETAILS
.upload_details {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;

  padding: 10px;
  text-align: center;
  font-size: 14px;
}
