@import "./typography.scss";
@import "./util.scss";

//PROFILE INFORMATION DIV
.profile {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  margin-top: 60px;
}

//USER PROFILE PICTURE
.profile_pic {
  display: flex;
  border-radius: 100%;
  margin: 0 auto 0 auto;
  width: 75%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;

  &:hover {
    @include opacityTransition(1, 0.75, opaqueToTranslucent);
    @include useAnimation(opaqueToTranslucent, 0.5s);
  }
}

//DEFAULT PROFILE PICTURE
.default_pic {
  &:hover {
    @include opacityTransition(1, 0.75, opaqueToTranslucent);
    @include useAnimation(opaqueToTranslucent, 0.5s);
  }
}

//PROFILE INFORMATION
.info {
  color: black;
  font-family: "Georama";
}

.icon {
  margin: auto 0 auto 0;
}

.actions_section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

//ACTION BUTTONS
.actions {
  width: 75%;
  margin: 0 auto 0 auto;

  .button {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    border: 1px;
    border-color: black;
    text-decoration: none;
    width: 100%;

    &:hover {
      @include colorTransition(black, white, white, black, blackToWhite);
      @include useAnimation(blackToWhite, 0.5s);
    }
  }
}

.uploads_title {
  font-family: "Georama";
  font-weight: 600;
  text-decoration: underline;
}
//USER UPLOADS SECTION
.uploads {
  margin: 1% 5% 0 5%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

//UPLOAD CONTAINER
.upload_container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

//UPLOAD IMAGE
.upload {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

//UPLOAD DETAILS
.upload_details {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;

  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.uploads_loading {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

//SKELETONS

//TOTAL DRIP
.sk_total {
  height: 45px;
}

//AVERAGE DRIP
.sk_average {
  height: 45px;
}

//DRIP SCORE
.sk_score {
  height: 45px;
}

//USERNAME
.sk_username {
  max-width: 85%;
  height: 35px;
}

//BIO
.sk_bio {
}

//UPLOAD BUTTON
.sk_upload {
  max-width: 50%;
  height: 25px;
}

//EDIT PROFILE BUTTON
.sk_edit {
  max-width: 50%;
  height: 25px;
}

.sk_settings {
  max-width: 20%;
  height: 25px;
}
