@import "./util.scss";

.main {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto auto auto auto;
  padding: 5% 10% 5% 10%;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.218);
}

.resetbtn {
  margin-top: 2vh;
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  padding: 0 30px 0 30px;

  &:hover {
    @include colorTransition(black, white, white, black, "blackToWhite");
    @include useAnimation(blackToWhite, 0.5s);
  }
}
