@import "./util.scss";

.upload_section {
  display: flex;
  flex-direction: column;

  width: 50%;
  margin: 10% auto 10% auto;
}

.actions {
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  color: white;

  &:hover {
    @include colorTransition(black, white, white, black, blackToWhite);
    @include useAnimation(blackToWhite, 0.5s);
  }
}

.tags {
  width: 15%;
  min-width: 60px;
}

.upload {
  min-width: 60px;
  width: 15%;
  height: 100%;
}

.uploadpreview {
  display: flex;
  align-items: center;
  justify-content: center;
}

//MEDIUM SCREENS
@media screen and (min-width: 768px) and (max-width: 991px) {
}
