@mixin colorTransition($bg1, $bg2, $txt1, $txt2, $animationName) {
    @keyframes #{$animationName} {
        from {background-color: $bg1; color: $txt1;}
        to {background-color: $bg2; color: $txt2;}
    }
}

@mixin useAnimation($animation) {
    animation-name: #{$animation};
    animation-duration: 0.55s;
    animation-fill-mode: forwards;
}