//Utility Classes

//Common Transitions

//COLOR (BG & TEXT)
@mixin colorTransition($bg1, $bg2, $txt1, $txt2, $animationName) {
    @keyframes #{$animationName} {
        from {background-color: $bg1; color: $txt1;}
        to {background-color: $bg2; color: $txt2;}
    }
}

@mixin colorTransitionLite($txt1, $txt2, $animationName) {
    @keyframes #{$animationName} {
        from {color: $txt1;}
        to {color: $txt2;}
    }
}

//FONT WEIGHT
@mixin weightTransition($weight1, $weight2, $animationName) {
    @keyframes #{$animationName} {
        from {font-weight: $weight1;}
        to {font-weight: $weight2;}
    }
}

//Class to use the above mixins

@mixin useAnimation($animation, $speed) {
    animation-name: #{$animation};
    animation-duration: $speed;
    animation-fill-mode: forwards;
}